<!--    
    Weather component will be responsible for: 
    searching for a location;
    displaying associated weather data for that location    
-->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Search for Weather:</h3>
            <form 
                [formGroup]="weatherSearchForm">  
                <div class="form-group">
                    <input 
                        formControlName="location"
                        class="form-control"
                        type="text"
                        [value]="searchValue"
                        id="weatherLocation"
                        aria-describedby="weatherLocation"
                        placeholder="Please enter city, state or postal code">
                </div>
                <div class="text-center">
                    <button
                        (click)="sendToAPIXU(weatherSearchForm.value)"
                        type="submit"
                        class="btn btn-success btn-md">
                            Search for the weather
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 weatherDetails">
            <!-- Section will display the weather for the location entered -->
            <div 
            *ngIf="weatherData"
            class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Weather Details
                    </h3>
                    <div class="text-center my-4">
                        <img
                        class="card-img"
                        style="width: 5rem;"
                        [src]="'https://www.weatherbit.io/static/img/icons/' + this.weatherData?.data[0].weather.icon + '.png'" alt="weather icon">
                    </div>
                    <p class="card-text text-center">Current weather conditions: {{ this.weatherData?.data[0].weather.description }}</p>
                    <p class="card-text text-center">Temperture: {{ this.weatherData?.data[0].temp + '&deg;F'}}</p>
                    <p 
                        *ngIf="this.weatherData?.data[0].app_temp"
                        class="card-text text-center">Feels like: {{ this.weatherData?.data[0].app_temp + '&deg;F'}}</p>
                    <p class="card-text text-center">Location Searched: <span>{{ this.weatherData?.data[0].city_name + ', ' + this.weatherData?.data[0].state_code }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
